{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link rel="stylesheet" href="{% static 'app/css/login.css' %}">
    <link rel="icon" href="{% static 'app/images/Neel.png' %}">
</head>
<body>
	<div class="log-form">
		<h2>Create a new account</h2>
		<form method="POST">
            {% csrf_token %}
		  {{ form.username }}
          {{ form.email }}
		  {{ form.password1 }}
          {{ form.password2 }}
		  <button type="submit" class="btn">Create</button>
		  <a class="forgot" href="{% url 'login' %}">Login</a>
		</form>
	  </div><!--end log form -->
</body>
</html>